# Installer script for sysconf profile: sysconf.collectd        -*- shell-script -*-

. /usr/lib/sysconf.base/common.sh

sysconf_fix_directory /var/lib/logwatch 0750 root:www-data
sysconf_fix_directory /var/lib/logwatch/daily 0750 root:www-data
sysconf_fix_directory /var/lib/logwatch/weekly 0750 root:www-data
sysconf_fix_directory /var/lib/logwatch/monthly 0750 root:www-data

_packages=""
_packages="$_packages rsyslog"
_packages="$_packages postfix"
_packages="$_packages logwatch"
_packages="$_packages collectd"
_packages="$_packages nginx php5-cli php5-fpm"
_packages="$_packages awstats"

sysconf_require_packages "$_packages"

# Fix Awstats
if [ -f /etc/awstats/awstats.conf ]; then
    mv /etc/awstats/awstats.conf /etc/awstats/awstats.conf.$(date +%Y-%m-%d)
fi

# Fix php-fpm
_force_fpm_restart=no
if [ -r /etc/php5/fpm/pool.d/www.conf ]; then
    rm -f /etc/php5/fpm/pool.d/www.conf
    _force_fpm_restart=yes
fi
if ps x | grep php-fpm | grep -vq grep; then
    if [ $_force_fpm_restart = yes ]; then
        service php5-fpm restart
    fi
else
    service php5-fpm start
fi

# Fix Nginx
[ -r /etc/nginx/sites-enabled/default ] \
    && rm -f /etc/nginx/sites-enabled/default

if ps x | grep " nginx:" | grep -vq grep; then
    service nginx reload
else
    service nginx start
fi
